:root {
  --bg-gradient: linear-gradient(to bottom, #081221, #03080f);
  --card-bg: #0e1a2b;
  --text-primary: #ffffff;
  --text-secondary: #c1d1e8;
  --accent-blue: #5692e8;
  --input-bg: #182c47;

  --font-heading: "Montserrat", sans-serif;
  --font-body: "Mulish", sans-serif;
}
